
/* Lembre-se de colocar o "/*" para testar os seletores. */


/*
Seletor universal


*{ border: 1px solid red;

} */

/*Seletor de Titulo

h1 {
	background: green;
	border: 3px solid royalblue;
} */

/*Seletor de Classe

.verde {
	color: green;
}

p.verde{
	color: green;
}*/


/*Seletor de Id 

#cabecalho {
	border: 1px solid blue;
} */


/*Seletor de filho */

/* li>a {
	text-decoration: none;
	color: slateblue;
	padding: 8px 12px;
}

/*Seletor de descendente */
/* p a {
	color: greenyellow;
} */


/**********************************
Herança e especificidade */

/*body{
	color: darkred;
	border: 1px solid blue;
	/*background: Gray;
} */

/* #pagina p {
	color: Blue, !important;
	/*background: white;	
} */

/* #pagina p{
	color: red; 
} */

/* Em Css o ultimo elemento é o que sempre domina, menos se você usar o comando "!important"*/

/* Se um seletor for mais específico que outro a regra mais específica sera aplicada (Terá prencedência sobre regras mais gerais)
*/

/* * {
	color: red;
}

h2 {
	color: skyblue;
}

h2.verde {
	color: green;
}
h2#amarelo {
	color: yellow;
}

/* Ordem de expecificidade de cima para baixo */
